/* Ocultar el modal por defecto */
.modal {
    display: none;
    /* Inicia oculto */
    position: fixed;
    /* Fija su posición en el viewport */
    z-index: 1;
    /* Asegura que esté sobre otros elementos */
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    /* Habilita el scroll si el contenido es grande */
    background-color: rgba(0, 0, 0, 0.4);
    /* Fondo negro con opacidad */
    align-items: center;
    justify-content: center;
}

/* Estilo del contenido del modal */
.modal-active {
    display: flex;
}

.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 50%;
    /* Opcional: define el ancho del modal visible */
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: all 0.3s ease-in-out;
}

/* Estilo para el botón de cerrar */
.cerrar {
    color: white;
    float: right;
    font-size: 16px;
    font-weight: bold;
}

.modal-content form {
    display: flex;
    flex-direction: column;
}

.modal-content label {
    margin-top: 10px;
}

.modal-content input,
.modal-content select {
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.modal-content input[type="submit"] {
    margin-top: 20px;
    cursor: pointer;
}

/* Estilos para el modal de confirmación de eliminación */
.modal-content h2 {
    margin-top: 0;
}

.cerrar-delete {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.cerrar-delete:hover,
.cerrar-delete:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}

.modal-buttons button {
  margin-left: 10px;
}
